/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v27-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v27-latin-800.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/open-sans-v27-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-800.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

/* otomanopee-one-regular - latin */
@font-face {
  font-family: 'Otomanopee One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/otomanopee-one-v1-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/otomanopee-one-v1-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/otomanopee-one-v1-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/otomanopee-one-v1-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/otomanopee-one-v1-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/otomanopee-one-v1-latin-regular.svg#OtomanopeeOne') format('svg');
  /* Legacy iOS */
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* CSS-rules: header */

header {
  width: 100%;
  font-family: "Otomanopee One";
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 5px hsla(262, 6%, 64%, 25%);
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}


.link__main__image {
  height: 6rem;
}

a {
  padding: 0.5rem 1rem 2rem;
  color: #000000;
  text-decoration-line: none;
  text-transform: uppercase;
}

a:hover {
  color: hsla(319, 47%, 31%, 75%);
}

@media (min-width: 25rem) {
  nav {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .link__main {
    order: 1;
  }

  .link__support-us {
    order: 2;
    flex-grow: 1;
    text-align: left;
  }

  .link__about {
    flex-grow: 1;
    text-align: right;
  }

  a:hover {
    border-bottom: 5px solid hsla(319, 47%, 31%, 75%);
  }

  .link__main:hover {
    border-bottom: none;
  }
}

@media (min-width: 35rem) {
  .link__main {
    order: 0;
    flex-grow: 1;
    display: flex;
  }

  .link__main__image {
    width: 6rem;
    justify-content: flex-start;
    flex-grow: 0;
  }

  .link__support-us {
    order: 0;
    flex-grow: 0;
  }

  .link__about {
    flex-grow: 0;
  }
}

@media (min-width: 50rem) {
  nav {
    padding-left: 5%;
    padding-right: 5%;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
  }
}

/* CSS-rules: main */

h1 {
  font-family: "Otomanopee One";
  font-size: 2rem;
}

.title--purple {
  color: #6d033f;
}

button {
  cursor: pointer;
  background-color: #0067D3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition-property: padding;
  transition-duration: 0.5s;
}

button:hover {
  background: #0752a1 url("../images/arrow--right.svg") no-repeat right 0.5rem center;
  background-size: auto 50%;
  padding-right: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

section {
  padding: 2rem;
}

.main__section--inner {
  padding: 0;
}

.section--grey {
  background-color: #cccacb;
}

.section__articles {
  padding: 0;
}

@media (min-width: 25rem) {
  .section__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .main-page {
    max-width: 45%;
  }

  .main-page:last-of-type {
    max-width: 93.33%;
    flex-grow: 1;
  }
}

@media (min-width: 35rem) {
  .banner__image {
    max-width: 50%;
    padding-right: 2rem;
  }

  .main__section {
    display: flex;
  }

  .main__section--inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 50rem) {
  .section__articles {
    flex-wrap: nowrap;
  }

  .main-page {
    max-width: 30%;
  }

  .main-page:last-of-type {
    max-width: 30%;
    flex-grow: 0;
  }

  .main__section--inner {
    max-width: 24rem;
  }
}

h2 {
  font-family: "Otomanopee One";
  font-size: 2rem;
}

article {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.article__content {
  padding: 1rem;
}

img {
  width: 100%;
}

.article__flag {
  height: 2rem;
  width: 2rem;
  float: left;
  padding-right: 1rem;
}

h3 {
  cursor: pointer;
  margin-top: 0;
  text-decoration: underline;
}

.underline {
  cursor: pointer;
  text-decoration: underline;
}

h3:hover,
.underline:hover {
  color: #7a7a7a;
}

.progress_wrapper {
  height: 0.7rem;
  background-color: #cccacb;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.progress_value {
  height: 0.7rem;
  background-color: #0067D3;
  border-radius: 5px;
}

.progress_value--20 {
  width: 20%;
}

.progress_value--40 {
  width: 40%;
}

.progress_value--90 {
  width: 90%;
}

.about {
  background-image: url(../images/meeting-photo.png);
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
}

.about__section {
  background-color: #ffffff;
}

.about__section:first-child {
  margin-bottom: 250%;
}

.team-member {
  overflow: visible;
  text-align: center;
  margin-bottom: 5rem;
}

.team-member__portrait {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem auto;
  outline: 5px solid #d33f00;
  outline-offset: 5px;
}

@media (min-width: 25rem) {
  .about__section:first-child {
    margin-bottom: 180%;
  }
}

@media (min-width: 35rem) {
  .about__section:first-child {
    margin-bottom: 100%;
  }

  .team-member__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-member {
    width: 45%;
  }

  .team-member:last-of-type {
    width: 50%;
  }
}

@media (min-width: 50rem) {
  .about__section:first-child {
    margin-bottom: 75%;
  }

  .about__section2 {
    padding: 2rem 0.6rem;
  }

  .team-member__flexbox {
    justify-content: flex-start;
  }

  .team-member {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .team-member__description {
    max-width: 15rem;
    padding-left: 1rem;
    text-align: left;
  }

  .team-member__portrait {
    width: 8rem;
    height: 8rem;
    margin: 0;
  }
}

@media (min-width: 60rem) {
  .max-width {
    max-width: 50rem;
    display: block;
    margin: 0 auto;
  }

  .about__section:first-child {
    margin-bottom: 50%;
  }

  .about__section2 {
    padding: 2rem 5%;
  }

  .team-member__flexbox {
    justify-content: flex-start;
  }

  .team-member {
    width: 45%;
    flex-grow: 1;
  }

  .team-member__description {
    max-width: 13rem;
  }
}

.team-member__name {
  margin: 0;
  font-size: 1rem;
}

.logo-animation {
  text-align: center;
  position: relative;
  margin: 0 1rem 1rem 0;
}

@media (min-width: 30rem) {
  .logo-animation {
    float: left;
  }
}

.logo-triangle {
  background-image: url(../images/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  transform: rotate(60deg);
  transform-origin: 50% 60%;
  width: 7rem;
  height: 7rem;
  animation-name: spin-me-round;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-duration: 15s;
}

@keyframes spin-me-round {
  0% {
    transform: rotate(60deg);
  }

  25% {
    transform: rotate(125deg);
  }

  50% {
    transform: rotate(360deg);
  }

  75% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

.logo-text {
  background-color: #ffffff;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  width: 6rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.logo-text p {
  margin: 0.5rem 0;
}

.support-us {
  background: rgb(70, 88, 207);
  background: linear-gradient(17deg, rgba(70, 88, 207, 1) 25%, rgba(159, 86, 195, 1) 50%, rgba(252, 196, 118, 1) 75%);
  background-attachment: fixed;
}

.support-us__section {
  background-color: #ffffff;
}

.support-us__section:first-child {
  margin-bottom: 1rem;
}

figure {
  border-left: 5px solid #6d033f;
  width: 95%;
  max-width: 40rem;
  margin: 3rem auto;
}

blockquote {
  font-family: "Otomanopee One";
  font-size: 2.5rem;
  margin: 1rem;
  color: #777777;
}

figcaption {
  color: #6d033f;
  padding: 0 1rem 1rem 1rem;
}

video {
  max-width: 50rem;
  display: block;
  margin: 5rem auto;
}

/* CSS-rules: footer */

footer {
  background-color: #000000;
  text-align: center;
  padding: 4rem 2rem;
}

.inverted-logo {
  width: 30rem;
  max-width: 100%;
}

.footer-animation {
  width: fit-content;
  margin: auto;
  position: relative;
}

.animation_wrapper {
  color: white;
  background-color: #B70569;
  width: 65%;
  height: 11vw;
  max-height: 4rem;
  top: 8%;
  left: -14%;
  border-radius: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  transform: rotate(51deg) translate(50%);
}

.animation_wrapper p {
  font-size: 6vw;
  margin: 0;
  padding-left: 100%;
  text-transform: uppercase;
  display: inline-block;
  animation: wrapperAnimation 10s linear infinite;
}

@keyframes wrapperAnimation {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@media (min-width: 5rem) {
  .animation_wrapper p {
    font-size: 6vw;
  }
}

@media (min-width: 55rem) {
  .inverted-logo {
    max-width: 400px;
    margin: 0 auto;
  }

  .animation_wrapper p {
    font-size: 4vw;
  }
}